In [2]:
import pandas as pd
# load data\interim\note_data.pkl into a dataframe and show head()
df = pd.read_pickle('../data/interim/note_data.pkl')

In [3]:
df.head()

   Filename  Instrument  Pitch  Start   End  Velocity
0         0           0     60   0.25  0.50        64
1         0           0     62   0.50  0.75        64
2         0           0     64   0.75  1.00        64
3         0           0     65   1.00  1.25        64
4         0           0     62   1.25  1.50        64

In [6]:
pd.read_csv('../data/interim/sample_note_data.csv').head()

   Filename  Instrument  Pitch  Start   End  Velocity
0         0           0     60   0.25  0.50        64
1         0           0     62   0.50  0.75        64
2         0           0     64   0.75  1.00        64
3         0           0     65   1.00  1.25        64
4         0           0     62   1.25  1.50        64

In [4]:
pd.read_pickle('../data/interim/note_data_diff_encoded.pkl').head()

  Filename Instrument  Pitch_diff  Start_diff  End_diff  Velocity_diff
0        0          0        60.0        0.25      0.50           64.0
1        0          0         2.0        0.25      0.25            0.0
2        0          0         2.0        0.25      0.25            0.0
3        0          0         1.0        0.25      0.25            0.0
4        0          0        -3.0        0.25      0.25            0.0